*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/caches
/.idea/codeStyles
/.idea/markdown-navigator
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/markdown-navigator.xml
/.idea/misc.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/build
features/base/build
features/repositories/build
features/repository/build
jacoco.exec
